<div>
    {{#if (equal zoom 1)}}
        {{> fields/base element=element }}

    {{else if (equal zoom 2)}}

        {{> fields/base element=element }}

        {{> fields/name element=element }}

        {{> fields/mass element=element }}

    {{else if (equal zoom 3)}}

        {{> fields/base element=element }}

        {{> fields/name element=element }}

        {{> fields/mass element=element }}

        {{> fields/details element=element }}

    {{else}}

        {{> fields/base element=element }}

        {{> fields/name element=element }}

        {{> fields/mass element=element }}

        {{> fields/details element=element }}

        {{> fields/more_details element=element }}

        {{> fields/resources element=element }}

    {{/if}}
</div>