<div>

    {{#if (equal zoom 0)}}

        {{> fields/symbol element=element}}

    {{else if (equal zoom 1)}}

        {{> fields/symbol element=element}}

        {{> fields/number element=element}}

    {{else if (equal zoom 2)}}

        {{> fields/symbol element=element}}

        {{> fields/number element=element}}

        {{> fields/mass element=element }}

        {{> fields/ec element=element }}

        {{> fields/name element=element }}

    {{else if (equal zoom 3)}}

        {{> fields/symbol element=element}}

        {{> fields/number element=element}}

        {{> fields/mass element=element }}

        {{> fields/ec element=element }}

        {{> fields/name element=element }}

        {{> fields/details element=element }}

    {{else}}

        {{> fields/symbol element=element}}

        {{> fields/number element=element}}

        {{> fields/mass element=element }}

        {{> fields/ec element=element }}

        {{> fields/name element=element }}

        {{> fields/details element=element }}

        {{> fields/more_details element=element }}

        {{> fields/resources element=element }}

    {{/if}}
</div>