// Amazon native ads ---------------------------------------------------------------------------------------------------

li.amzn-native-product {
  font-size: 1rem;
}

li.amzn-native-product a,
a.amzn-native-product-title {
  color: blue !important;
  font-size: 1rem !important;
}

.ads {
  position: relative;
  min-height: 80px;
}