// Zoom --------------------------------------------------------------------------------------------------------------*/
#zoom {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}
#zoom a {
  display: block;
  font-weight: bold;
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
  line-height: 28px;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: $text-color;
  background: #f5f5f5;
  box-shadow: -1px 0 12px #717171;
}
#zoom a:hover,
#zoom a:focus {
  background: #d6d6d6;
}
#zoom a:active {
  color: $text-color
}
#zoom i {
  display: none;
}

[zoom="0"] #zoom-out {
  color: lighten($text-color, 50);
}
[zoom="4"] #zoom-in {
  color: lighten($text-color, 50);
}
[zoom="0"] #zoom-out:focus,
[zoom="0"] #zoom-out:hover {
  background: #f5f5f5;
}
[zoom="4"] #zoom-in:focus,
[zoom="4"] #zoom-in:hover {
  background: #f5f5f5;
}


/* Help -----------------------------------------------------------------------------------------------------------*/

#toggle-help {
  position: fixed;
  visibility: hidden;
}
#toggle-help:checked + #help {
  opacity: 1;
  z-index: 2;
}
#help-link {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 28px;
  height: 28px;
  z-index: 2;
  background: #f5f5f5;
  box-shadow: 0 -1px 12px #717171;
  overflow: hidden;
  text-align: center;
  line-height: 28px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
#help {
  position: fixed;
  top: 10px;
  bottom: 10px;
  right: 48px;
  width: 400px;
  background: #f5f5f5;
  box-shadow: 0 -1px 12px #717171;
  z-index: -1;
  padding: 1rem;
  overflow: auto;
  opacity: 0;
  transition: opacity 0.2s;

  @media (max-width: 500px) {
    width: auto;
    left: 10px;
  }

  p,
  dl {
    margin-top: 1em;
    line-height: 1.5;
    @include clearfix();
  }

  dt {
    float: left;
    clear: left;
    padding: 2px;
    line-height: 1.5;
    min-width: 130px;
  }
  dd {
    float: left;
    line-height: 1.5;
    padding: 2px;
  }
  hr {
    margin: 1em auto;
    clear: both;
  }

  kbd {
    display: inline-block;
    border-radius: 4px;
    background: #eaeaea;
    padding: 2px;
    line-height: 1;
    border: 1px solid darken(#eaeaea, 10%);
  }
}

/* Filters -----------------------------------------------------------------------------------------------------------*/

#open {
  font-weight: bold;
  font-size: 0.8rem;
}
#filters {
  position: fixed;
  top: 82px;
  right: 10px;
  bottom: 49px;
  width: 28px;
  display: none;
  z-index: 2;
  background: #f5f5f5;
  box-shadow: 0 -1px 12px #717171;
  overflow: hidden;
  transition: width 0.5s;
  opacity: 0.9;
}
#toggle-filters {
  position: fixed;
  visibility: hidden;
}
#toggle-filters + #filters > div {
  display: none;
}
#toggle-filters:focus + #filters {
  outline: 2px solid Highlight;
}
@media (-webkit-min-device-pixel-ratio:0) {
  #toggle-filters:focus + #filters {
    outline: 2px auto -webkit-focus-ring-color;
  }
}
#toggle-filters:checked + #filters {
  width: 230px;
  transition: width 0.5s;
  opacity: 1;
}
#toggle-filters:checked + #filters > div {
  display: block;
}
#filters > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 85px;
  height: 28px;
  transform: rotate(270deg) translate(-80px, 5px);
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.2rem;
  transform-origin: top left;
  cursor: pointer;
}
#filters > div {
  width: 180px;
  margin-left: 28px;
  overflow: auto;
  height: 100%;
}
fieldset {
  border: 0;
  margin-top: 8px;
}
fieldset span {
  display: inline-block;
  padding-bottom: 6px;
}
.radios label {
  display: block;
  padding: 4px;
  cursor: pointer;
  background: #717171;
  color: #fff;
}
.radios input[type="radio"] {
  position: absolute;
  top: 0;
  left: -100px;
}
.radios input + label {
  margin: 0 2px;
}
.radios input:focus + label {
  outline: 2px solid Highlight;
}
@media (-webkit-min-device-pixel-ratio:0) {
  .radios input:focus {
    outline: 2px auto -webkit-focus-ring-color;
  }
}

input + label > i {
  visibility: hidden;
}
input:checked + label > i {
  visibility: visible;
}

#filter-state label[for="input-state-gas"] {
  background: lighten($state-filter-color, 30%);
}
#filter-state label[for="input-state-liquid"] {
  background: lighten($state-filter-color, 15%);
}
#filter-state label[for="input-state-solid"] {
  background: $state-filter-color;
}
input[type="number"] {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 2px;
}
#filter-find input {
  width: 120px;
}