.wrap {
  position: relative;
}

/* Titles ------------------------------------------------------------------------------------------------------------*/
h1 {
  position: absolute;
  top: -2.4rem;
  left: 0;
  text-transform: uppercase;
  font-family: sans-serif;
  line-height: 1.4;
  color: #fff;
  z-index: 2;
  font-size: 2rem;
  letter-spacing: 6px;
}

/* Tables ------------------------------------------------------------------------------------------------------------*/

#reset-position-filters {
  background: none;
  border: none;
  font-size: 1.2rem;
}

#tables {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ;
  transform-origin: 0 0;
  width: 1300px;
  backface-visibility: hidden;
}
.elements {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  color: $text-color;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 6px #717171;
}
.elements.block-f {
  margin-top: 1rem;
}
[zoom="0"] #tables {
  transform: scale($zoom-0-scale) translateZ(0);
}
[zoom="1"] #tables {
  transform: scale($zoom-1-scale) translateZ(0);
}
[zoom="2"] #tables {
  transform: scale($zoom-2-scale) translateZ(0);
}
[zoom="3"] #tables {
  transform: scale($zoom-3-scale) translateZ(0);
}
[zoom="4"] #tables {
  transform: scale($zoom-4-scale) translateZ(0);
}
.elements > tbody > tr > td,
.elements > tbody > tr > th {
  position: relative;
  border: 1px solid #fff;
  color: #fff;
  font-weight: normal;
  vertical-align: top;
  background: #f1f1f1;
  transition: height 1s;
  background-clip: padding-box !important;
}
td > div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  backface-visibility: hidden;
}
[zoom="0"] td > div {
  transform: scale(1 / $zoom-0-scale) translateZ(0);
  width: 100% * $zoom-0-scale;
  height: 100% * $zoom-0-scale;
}
[zoom="2"] td > div {
  transform: scale(1 / $zoom-2-scale) translateZ(0);
  width: 100% * $zoom-2-scale;
  height: 100% * $zoom-2-scale;
}
[zoom="3"] td > div {
  transform: scale(1 / $zoom-3-scale) translateZ(0);
  width: 100% * $zoom-3-scale;
  height: 100% * $zoom-3-scale;
}
[zoom="4"] td > div {
  transform: scale(1 / $zoom-4-scale) translateZ(0);
  width: 100% * $zoom-4-scale;
  height: 100% * $zoom-4-scale;
}

[zoom="0"] .elements > tbody > tr > td {
  height: 62px;
}
[zoom="1"] .elements > tbody > tr > td {
  height: 62px;
}
[zoom="2"] .elements > tbody > tr > td {
  height: 62px;
}
[zoom="3"] .elements > tbody > tr > td {
  height: 62px;
}
[zoom="4"] .elements > tbody > tr > td {
  height: 77px;
  @media #{$compact} {
    height: 88px;
  }
}
.elements > tbody > tr > th {
  color: $text-color;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  line-height: 2em;
  overflow: hidden;
}
.elements > tbody > tr > th:first-child {
  width: 2rem
}

.elements > tbody > tr > td  {
  cursor: zoom-in;
}
body.dragging .elements > tbody > tr > td {
  @include grabbing();
}
[zoom="4"] .elements > tbody > tr > td  {
  cursor: default;
}

$n-color: #f759e0;
$am-color: #ff2626;
$aem-color: #ff910c;
$tm-color: #5272e4;
$ptm-color: #1ab373;
$m-color: #ecb720;
$h-color: #279da9;
$ng-color: #00bfff;
$a-color: #9932cc;
$l-color: #4B0082;

[c="n"] {
  background: $n-color !important;
}
[c="am"] {
  background: $am-color  !important;
}
[c="aem"] {
  background: $aem-color !important;
}
[c="tm"] {
  background: $tm-color !important;
}
[c="ptm"] {
  background: $ptm-color !important;
}
[c="m"] {
  background: $m-color !important;
}
[c="h"] {
  background: $h-color !important;
}
[c="ng"] {
  background: $ng-color !important;
}
[c="a"] {
  background: $a-color !important;
}
[c="l"] {
  background: $l-color !important;
}

@mixin highlight($base-color) {
  border-color: darken($base-color, 20%);
}
@media #{$desktop} {
  [c="am"]:hover {
    @include highlight($am-color);
  }
  [c="aem"]:hover {
    @include highlight($aem-color);
  }
  [c="tm"]:hover {
    @include highlight($tm-color);
  }
  [c="ptm"]:hover {
    @include highlight($ptm-color);
  }
  [c="m"]:hover {
    @include highlight($m-color);
  }
  [c="n"]:hover {
    @include highlight($n-color);
  }
  [c="h"]:hover {
    @include highlight($h-color);
  }
  [c="ng"]:hover {
    @include highlight($ng-color);
  }
  [c="a"]:hover {
    @include highlight($a-color);
  }
  [c="l"]:hover {
    @include highlight($l-color);
  }

  [zoom="3"] td:hover,
  [zoom="4"] td:hover,
  body.dragging td:hover {
    border-color: #fff !important;
  }
}


/* Cell contents -----------------------------------------------------------------------------------------------------*/
.s {
  margin-top: 1.8rem;
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1;
  text-shadow: -1px -1px 0 $text-color, 1px -1px 0 $text-color, -1px 1px 0 $text-color, 1px 1px 0 $text-color;
  letter-spacing: 1px;
}
[zoom="0"] .s {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  text-shadow: none;
}
[zoom="2"] .s {
  font-size: 2.5rem;
}
[zoom="3"] .s, [zoom="4"] .s {
  font-size: 3.4rem;
}

/* atomic number */
.an {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 1rem;
  line-height: 1.3;
}
[zoom="0"] .an {
  visibility: hidden;
}
[zoom="2"] .an {
  font-size: 1.3rem;
}
[zoom="3"] .an {
  font-size: 1.6rem;
  left: 8px;
}
[zoom="4"] .an {
  font-size: 1.8rem;
  left: 10px;
}

/* atomic mass */
.am {
  font-size: 1rem;
  line-height: 1.5;
  position: absolute;
  top: 4px;
  right: 4px;
}
[zoom="0"] .am,
[zoom="1"] .am {
  visibility: hidden;
}
[zoom="3"] .am {
  font-size: 1.2rem;
  right: 8px;
}
[zoom="4"] .am {
  right: 10px;
  font-size: 1.2rem;
}

/* name */
.n {
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1);
}
[zoom="0"] .n,
[zoom="1"] .n {
  display: none;
}
[zoom="3"] .n {
  font-size: 1.4rem;
}
[zoom="4"] .n {
  font-size: 1.4rem;
}

[zoom="1"] .actinides .n,
[zoom="1"] .lanthinedes .n {
  visibility: hidden;
}

// electron config
.ec {
  font-size: 1rem;
  line-height: 2.3;
  text-align: center;
}
[zoom="0"] .ec,
[zoom="1"] .ec {
  visibility: hidden;
}

[zoom="0"] .d,
[zoom="1"] .d,
[zoom="2"] .d {
  visibility: hidden;
}

[zoom="0"] .md,
[zoom="1"] .md,
[zoom="2"] .md,
[zoom="3"] .md,
[zoom="0"] .r,
[zoom="1"] .r,
[zoom="2"] .r,
[zoom="3"] .r {
  visibility: hidden;
}

[zoom="4"] .r {
  padding: 0 4px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
}
[zoom="4"] .details {
  margin-left: auto;
  margin-right: auto;
}
.details {
  width: 100%;
  border-collapse: collapse;
  background: #fdfdfd;
  color: $text-color;
}
@media #{$compact} {
  .md > .details {
    margin-top: 0;
  }
}

.details tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details th,
.details td {
  padding: 8px;
  vertical-align: bottom;
  line-height: 1;
  font-size: 0.9rem;
}
.details td {
  text-align: right;
}
.details-wrap {
  background: rgba(0, 0, 0, 0.1);
}
[zoom="3"] .details-wrap {
  padding: 4px;
}
[zoom="4"] .details-wrap {
  padding-left: 4px;
  @media #{$desktop} {
    float: left;
    width: 50%;
    padding-right: 2px
  }
}
.details-wrap + .details-wrap {
  padding-left: 2px;
  padding-right: 4px;
}

.tabs-nav li {
  display: inline-block;
  margin-top: 1rem;
}
.tabs-nav li.active a {
  background: #fdfdfd;
}
.tabs-nav a {
  display: block;
  text-decoration: none;
  color: $text-color;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.6);
}
.tabs-nav a:focus {
  background: rgba(255, 255, 255, 0.8);
}
.tabs-content {
  height: 415px;
  padding: 8px;
  background: #fdfdfd;
  overflow: auto;
  color: $text-color
}
.tabs-content-pane {
  display: none;
}
.tabs-content-pane.active {
  display: block;
}
.tabs-content-pane p {
  margin-top: 1em;
  line-height: 1.5;
}
ul.bullets {
  margin-top: 1em;
  list-style: disc inside;
}
.wiki-pane {
  background: #fff;
  overflow: hidden;
}
.r iframe {
  width: 99.5%;
  height: 395px;
  border: none;
}

.tabs-content li {
  margin-top: 1em;
}

/* Util --------------------------------------------------------------------------------------------------------------*/


//.filtering .elements > tbody > tr > td,
.unfiltered {
  opacity: 0.3;
}
/*.filtered {
  opacity: 1 !important;
}*/
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video iframe, .video object, .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure {
  text-align: center;
  background: #F0F0F0;
  padding: 5px;
}
figure img {
  box-shadow: 0 0 5px #BABABA;
  max-width: 100%;
}
figcaption p {
  text-align: inherit;
}
figcaption p:first-child {
  margin-top: 0;
}