$text-color: #393939;
$state-filter-color: #2e3af3;

$zoom-0-scale: 0.5;
$zoom-1-scale: 1;
$zoom-2-scale: 2;
$zoom-3-scale: 5;
$zoom-4-scale: 10;

$compact: "(max-width: 690px)";
$desktop: "(min-width: 690px)";
