/* Reset -------------------------------------------------------------------------------------------------------------*/

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address, table, tbody, tr, td, th, fieldset, i {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    text-align: left;
}
sup, sub {
    vertical-align: top;
    position: relative;
    top: -0.4em;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    background: #737373;
    color: #585858;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.wrap {
    position: relative;
}

/* Zoom --------------------------------------------------------------------------------------------------------------*/
#z {
    position: fixed;
    top: 10px;
    right: 10px;
    box-shadow: -1px 0 12px #717171;
    z-index: 1;
    overflow: hidden;
    background: #f5f5f5;
}
#z a {
    display: block;
    font-weight: bold;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #585858;
}
#z a:hover {
    background: #d6d6d6;
}
#z a:active {
    color: #585858;
}
#z i {
    display: none;
}
/* Filters -----------------------------------------------------------------------------------------------------------*/

#open {
    font-weight: bold;
    font-size: 0.8rem;
}
#f {
    position: fixed;
    top: 82px;
    right: 10px;
    bottom: 10px;
    width: 28px;
    display: none;
    z-index: 2;
    background: #f5f5f5;
    box-shadow: 0 -1px 12px #717171;
    overflow: hidden;
    transition: width 0.5s;
}
#toggle {
    display: none;
}
#toggle:checked + #f {
    width: 215px;
    transition: width 0.5s;
}
#f > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 85px;
    height: 28px;
    transform: rotate(270deg) translate(-80px, 5px);
    letter-spacing: 1px;
    text-align: center;
    font-size: 1.2rem;
    transform-origin: top left;
    cursor: pointer;
}
#f > div {
    width: 180px;
    margin-left: 28px;
    overflow: auto;
    height:100%;
}
fieldset {
    border: 0;
    margin-top: 8px;
}
fieldset span {
    display: inline-block;
    padding-bottom: 6px;
}
.radios label {
    display: block;
    padding: 4px;
    cursor: pointer;
    background: #717171;
    color: #fff;
}
.radios label input[type="radio"] {
    display: none;
}
input + i {
    visibility: hidden;
}
input:checked + i {
    visibility: visible;
}
#fs label:nth-child(1) {
    background: #b9c0f3;
}
#fs label:nth-child(2) {
    background: #757FF3;
}
#fs label:nth-child(3) {
    background: #2e3af3;
}
input[type="number"] {
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 2px;
}

/* Tables ------------------------------------------------------------------------------------------------------------*/
#tables {
    position: absolute;
    transition: transform 1s ;
    transform-origin: 0 0;
    width: 1200px;
    backface-visibility: hidden;
}
.elements {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 1rem 0;
    color: #585858;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 6px #717171;
}
[z="1"] #tables {
    transform: scale(1) translateZ(0);
}
[z="2"] #tables {
    transform: scale(2) translateZ(0);;
}
[z="3"] #tables {
    transform: scale(5) translateZ(0);
}
[z="4"] #tables {
    transform: scale(12) translateZ(0);
}
.elements > tbody > tr > td,
.elements > tbody > tr > th {
    position: relative;
    border: 2px solid #fff;
    color: #fff;
    font-weight: normal;
    vertical-align: top;
    background: #f1f1f1;
    transition: height 1s;
    background-clip: padding-box !important;
}
td > div {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 4px;
    overflow: hidden;
    transform-origin: 0 0;
    filter: blur(0);
    backface-visibility: hidden;
}
[z="2"] td > div {
    transform: scale(0.5) translateZ(0);
    width: 200%;
    height: 200%;
}
[z="3"] td > div {
    transform: scale(0.2) translateZ(0);
    width: 500%;
    height: 500%;
}
[z="4"] td > div {
    transform: scale(0.083) translateZ(0);
    width: 1200%;
    height: 1200%
}
[z="1"] .elements > tbody > tr > td {
    height: 65px;
}
[z="2"] .elements > tbody > tr > td {
    height: 55px;
}
[z="3"] .elements > tbody > tr > td {
    height: 59px;
}
[z="4"] .elements > tbody > tr > td {
    height: 63px;
}
.elements > tbody > tr > th {
    color: #585858;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    line-height: 2em;
    cursor: pointer;
}
.elements > tbody > tr > th:first-child {
    width: 2rem
}
[c="n"] {
    background: #f935ce !important;
}
[c="am"] {
    background: #ff2626  !important;
}
[c="aem"] {
    background: #ff910c !important;
}
[c="tm"] {
    background: #5272e4 !important;
}
[c="ptm"] {
    background: #1ab373 !important;
}
[c="m"] {
    background: #ecb720 !important;
}
[c="h"] {
    background: #279da9 !important;
}
[c="ng"] {
    background: #00bfff !important;
}
[c="a"] {
    background: indigo !important;
}
[c="l"] {
    background: darkorchid !important;
}

/* Cell contents -----------------------------------------------------------------------------------------------------*/
.s {
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    line-height: 1.2;
    text-shadow: -1px -1px 0 #585858, 1px -1px 0 #585858, -1px 1px 0 #585858, 1px 1px 0 #585858;
    letter-spacing: 1px;
}
[z="2"] .s {
    font-size: 2.5rem;
}
[z="3"] .s, [z="4"] .s {
    font-size: 3.4rem;
}

/* atomic number */
.an {
    font-size: 1rem;
    line-height: 1.3;
}
[z="3"] .an,[z="4"] .an {
    font-size: 1.6rem;
}

/* atomic mass */
.am {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.3;
}
[z="3"] .am {
    font-size: 1rem;
}
[z="4"] .am {
    font-size: 1rem;
}

/* name */
.n {
    text-align: center;
    line-height: 1.4;
    letter-spacing: 1px;
}
[z="3"] .n {
    font-size: 1.4rem;
}
[z="4"] .n {
    font-size: 1.4rem;
}

[z="1"] .actinides .n,
[z="1"] .lanthinedes .n {
    visibility: hidden;
}
.s, .an, .n, .am {

}

.details {
    width: 100%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.8);
    color: #585858;
    margin-top: 1rem;
}
.details tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details th,
.details td {
    padding: 8px;
    vertical-align: bottom;
    line-height: 1.2em;
    font-size: 0.9rem;
}
.details td {
    text-align: right;
}
[z="4"] .details-wrap {
    float: left;
    width: 50%;
    padding-right: 3px
}
.data-wrap + .details-wrap {
    padding-left: 3px;
    padding-right: 0;
}

.tabs-nav li {
    padding: 6px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 1rem;
}
.tabs-nav li.active {
    background: rgba(255, 255, 255, 0.8);
}
.tabs-nav a {
    text-decoration: none;
    color: #585858;
}
.tabs-content {
    height: 400px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.8);
    overflow: auto;
    color: #585858;
}
.tabs-content-pane {
    display: none;
}
.tabs-content-pane.active {
    display: block;
}
.tabs-content-pane p {
    margin-top: 1em;
    line-height: 1.5;
}
.tabs-content-pane ul {
    margin-top: 1em;
    list-style: disc inside;
}
.wiki-pane {
    padding: 8px;
    background: #fff;
    overflow: hidden;
}
iframe {
    width: 100%;
    height: 368px;
    border: none;
}

/* Util --------------------------------------------------------------------------------------------------------------*/

.out {
    visibility: hidden;
}
.in {
    visibility: visible;
}
.filtering .elements > tbody > tr > td {
    opacity: 0.3;
}
.filtered {
    opacity: 1 !important;
}
.video {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}
.video iframe, .video object, .video embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}