html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address, table, tbody, tr, td, th, fieldset, i, figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  text-align: left; }

button {
  cursor: pointer; }

sup, sub {
  vertical-align: top;
  position: relative;
  top: -0.4em; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  background: #737373;
  color: #393939; }

*, *:before, *:after {
  box-sizing: inherit; }

.wrap {
  position: relative; }

h2 {
  position: absolute;
  left: -99999px; }

kbd {
  display: inline-block;
  border-radius: 4px;
  background: #eaeaea;
  padding: 2px;
  margin: 2px; }

#zoom {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1; }

#zoom a {
  display: block;
  font-weight: bold;
  width: 28px;
  height: 28px;
  margin-bottom: 5px;
  line-height: 28px;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #393939;
  background: #f5f5f5;
  box-shadow: -1px 0 12px #717171; }

#zoom a:hover,
#zoom a:focus {
  background: #d6d6d6; }

#zoom a:active {
  color: #393939; }

#zoom i {
  display: none; }

[zoom="0"] #zoom-out {
  color: #b9b9b9; }

[zoom="4"] #zoom-in {
  color: #b9b9b9; }

[zoom="0"] #zoom-out:focus,
[zoom="0"] #zoom-out:hover {
  background: #f5f5f5; }

[zoom="4"] #zoom-in:focus,
[zoom="4"] #zoom-in:hover {
  background: #f5f5f5; }

/* Filters -----------------------------------------------------------------------------------------------------------*/
#open {
  font-weight: bold;
  font-size: 0.8rem; }

#filters {
  position: fixed;
  top: 82px;
  right: 10px;
  bottom: 10px;
  width: 28px;
  display: none;
  z-index: 2;
  background: #f5f5f5;
  box-shadow: 0 -1px 12px #717171;
  overflow: hidden;
  transition: width 0.5s;
  opacity: 0.9; }

#toggle-filters {
  position: fixed;
  right: 20px;
  top: 82px; }

#toggle-filters + #filters > div {
  display: none; }

#toggle-filters:focus + #filters {
  outline: 2px solid Highlight; }

@media (-webkit-min-device-pixel-ratio: 0) {
  #toggle-filters:focus + #filters {
    outline: 2px auto -webkit-focus-ring-color; } }

#toggle-filters:checked + #filters {
  width: 230px;
  transition: width 0.5s;
  opacity: 1; }

#toggle-filters:checked + #filters > div {
  display: block; }

#filters > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 85px;
  height: 28px;
  transform: rotate(270deg) translate(-80px, 5px);
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.2rem;
  transform-origin: top left;
  cursor: pointer; }

#filters > div {
  width: 180px;
  margin-left: 28px;
  overflow: auto;
  height: 100%; }

fieldset {
  border: 0;
  margin-top: 8px; }

fieldset span {
  display: inline-block;
  padding-bottom: 6px; }

.radios label {
  display: block;
  padding: 4px;
  cursor: pointer;
  background: #717171;
  color: #fff; }

.radios input[type="radio"] {
  position: absolute;
  top: 0;
  left: -100px; }

.radios input + label {
  margin: 0 2px; }

.radios input:focus + label {
  outline: 2px solid Highlight; }

@media (-webkit-min-device-pixel-ratio: 0) {
  .radios input:focus {
    outline: 2px auto -webkit-focus-ring-color; } }

input + label > i {
  visibility: hidden; }

input:checked + label > i {
  visibility: visible; }

#filter-state label[for="input-state-gas"] {
  background: #bfc2fb; }

#filter-state label[for="input-state-liquid"] {
  background: #767ef7; }

#filter-state label[for="input-state-solid"] {
  background: #2e3af3; }

input[type="number"] {
  display: inline-block;
  width: 70px;
  text-align: right;
  margin-right: 2px; }

#filter-find input {
  width: 120px; }

/* Titles ------------------------------------------------------------------------------------------------------------*/
h1 {
  position: absolute;
  top: 47px;
  z-index: 3;
  left: 247px;
  line-height: 65px;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 2.1rem;
  letter-spacing: 47px;
  color: #999999;
  transition: line-height 1s; }

[zoom="0"] h1 {
  line-height: 49px; }

[zoom="1"] h1 {
  line-height: 62px; }

[zoom="2"] h1 {
  line-height: 55px; }

[zoom="3"] h1 {
  line-height: 58px; }

[zoom="4"] h1 {
  line-height: 74px; }
  @media (max-width: 690px) {
    [zoom="4"] h1 {
      line-height: 87px; } }

/* Tables ------------------------------------------------------------------------------------------------------------*/
#tables {
  position: absolute;
  transition: transform 1s;
  transform-origin: 0 0;
  width: 1200px;
  backface-visibility: hidden; }

.elements {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 1rem 0;
  color: #393939;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 6px #717171; }

[zoom="0"] #tables {
  transform: scale(0.6) translateZ(0); }

[zoom="1"] #tables {
  transform: scale(1) translateZ(0); }

[zoom="2"] #tables {
  transform: scale(2) translateZ(0); }

[zoom="3"] #tables {
  transform: scale(5) translateZ(0); }

[zoom="4"] #tables {
  transform: scale(10) translateZ(0); }

.elements > tbody > tr > td,
.elements > tbody > tr > th {
  position: relative;
  border: 2px solid #fff;
  color: #fff;
  font-weight: normal;
  vertical-align: top;
  background: #f1f1f1;
  transition: height 1s;
  background-clip: padding-box !important; }

td > div {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4px;
  transform-origin: 0 0;
  backface-visibility: hidden; }

[zoom="0"] td > div {
  transform: scale(1.66667) translateZ(0);
  width: 60%;
  height: 60%; }

[zoom="2"] td > div {
  transform: scale(0.5) translateZ(0);
  width: 200%;
  height: 200%; }

[zoom="3"] td > div {
  transform: scale(0.2) translateZ(0);
  width: 500%;
  height: 500%; }

[zoom="4"] td > div {
  transform: scale(0.1) translateZ(0);
  width: 1000%;
  height: 1000%; }

[zoom="0"] .elements > tbody > tr > td {
  height: 49px; }

[zoom="1"] .elements > tbody > tr > td {
  height: 62px; }

[zoom="2"] .elements > tbody > tr > td {
  height: 55px; }

[zoom="3"] .elements > tbody > tr > td {
  height: 58px; }

[zoom="4"] .elements > tbody > tr > td {
  height: 74px; }
  @media (max-width: 690px) {
    [zoom="4"] .elements > tbody > tr > td {
      height: 87px; } }

.elements > tbody > tr > th {
  color: #393939;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  line-height: 2em;
  cursor: pointer; }

.elements > tbody > tr > th:first-child {
  width: 2rem; }

[c="n"] {
  background: #f935ce !important; }

[c="am"] {
  background: #ff2626  !important; }

[c="aem"] {
  background: #ff910c !important; }

[c="tm"] {
  background: #5272e4 !important; }

[c="ptm"] {
  background: #1ab373 !important; }

[c="m"] {
  background: #ecb720 !important; }

[c="h"] {
  background: #279da9 !important; }

[c="ng"] {
  background: #00bfff !important; }

[c="a"] {
  background: indigo !important; }

[c="l"] {
  background: darkorchid !important; }

/* Cell contents -----------------------------------------------------------------------------------------------------*/
.s {
  margin-top: 1.4rem;
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.2;
  text-shadow: -1px -1px 0 #393939, 1px -1px 0 #393939, -1px 1px 0 #393939, 1px 1px 0 #393939;
  letter-spacing: 1px; }

[zoom="0"] .s {
  margin-top: 0;
  font-size: 1.3rem;
  text-shadow: none; }

[zoom="2"] .s {
  font-size: 2.5rem; }

[zoom="3"] .s, [zoom="4"] .s {
  font-size: 3.4rem; }

/* atomic number */
.an {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 1rem;
  line-height: 1.3; }

[zoom="0"] .an {
  visibility: hidden; }

[zoom="2"] .an {
  font-size: 1.2rem; }

[zoom="3"] .an {
  font-size: 1.6rem; }

[zoom="4"] .an {
  font-size: 1.8rem; }

/* atomic mass */
.am {
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.3; }

[zoom="0"] .am,
[zoom="1"] .am {
  visibility: hidden; }

[zoom="3"] .am {
  font-size: 1.2rem; }

[zoom="4"] .am {
  font-size: 1.2rem; }

/* name */
.n {
  text-align: center;
  line-height: 1.4;
  letter-spacing: 1px; }

[zoom="0"] .n,
[zoom="1"] .n {
  display: none; }

[zoom="3"] .n {
  font-size: 1.4rem; }

[zoom="4"] .n {
  font-size: 1.4rem; }

[zoom="1"] .actinides .n,
[zoom="1"] .lanthinedes .n {
  visibility: hidden; }

[zoom="0"] .d,
[zoom="1"] .d,
[zoom="2"] .d {
  visibility: hidden; }

[zoom="0"] .md,
[zoom="1"] .md,
[zoom="2"] .md,
[zoom="3"] .md,
[zoom="0"] .r,
[zoom="1"] .r,
[zoom="2"] .r,
[zoom="3"] .r {
  visibility: hidden; }

[zoom="4"] .r {
  margin: 0 auto; }

[zoom="4"] .details {
  margin-left: auto;
  margin-right: auto; }

.details {
  width: 100%;
  border-collapse: collapse;
  background: #fdfdfd;
  color: #393939;
  margin-top: 1rem; }

@media (max-width: 690px) {
  .md > .details {
    margin-top: 0; } }

.details tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.details th,
.details td {
  padding: 8px;
  vertical-align: bottom;
  line-height: 1.2em;
  font-size: 1rem; }

.details td {
  text-align: right; }

@media (min-width: 690px) {
  [zoom="4"] .details-wrap {
    float: left;
    width: 50%;
    padding-right: 3px; } }

.data-wrap + .details-wrap {
  padding-left: 3px;
  padding-right: 0; }

.tabs-nav li {
  display: inline-block;
  margin-top: 1rem; }

.tabs-nav li.active a {
  background: #fdfdfd; }

.tabs-nav a {
  display: block;
  text-decoration: none;
  color: #393939;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.6); }

.tabs-nav a:focus {
  background: rgba(255, 255, 255, 0.8); }

.tabs-content {
  height: 400px;
  padding: 8px;
  background: #fdfdfd;
  overflow: auto;
  color: #393939; }

.tabs-content-pane {
  display: none; }

.tabs-content-pane.active {
  display: block; }

.tabs-content-pane p {
  margin-top: 1em;
  line-height: 1.5; }

ul.bullets {
  margin-top: 1em;
  list-style: disc inside; }

.wiki-pane {
  padding: 8px;
  background: #fff;
  overflow: hidden; }

iframe {
  width: 100%;
  height: 368px;
  border: none; }

/* Util --------------------------------------------------------------------------------------------------------------*/
.filtering .elements > tbody > tr > td {
  opacity: 0.3; }

.filtered {
  opacity: 1 !important; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video iframe, .video object, .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

figure {
  text-align: center;
  background: #F0F0F0;
  padding: 5px; }

figure img {
  box-shadow: 0 0 5px #BABABA; }

figcaption p {
  text-align: inherit; }

figcaption p:first-child {
  margin-top: 0; }
