<div class="d details-wrap">
    <table class=details>
        <tr>
            <th>Key isotopes</th>
            <td>{{formatIsotopes element.keyIsotopes element.symbol}}</td>
        </tr>
        <tr>
            <th>Electron configuration</th>
            <td>{{formatElectronConfig element.electronConfiguration}}</td>
        </tr>
        <tr>
            <th>Density</th>
            <td>{{element.density}}</td>
        </tr>
        <tr>
            <th>Ionisation energy</th>
            <td>{{element.ionizationEnergy}}</td>
        </tr>
    </table>
</div>
