<div class="d details-wrap">
    <table class=details>
        <tr>
            <th>Electron configuration</th>
            <td>{{formatElectronConfig element.electronConfiguration}}</td>
        </tr>
        <tr>
            <th>Key isotopes</th>
            <td>{{formatIsotopes element.keyIsotopes element.symbol}}</td>
        </tr>
        <tr>
            <th>Year discovered</th>
            <td>{{element.yearDiscovered}}</td>
        </tr>
        <tr>
            <th>Standard state</th>
            <td>{{element.standardState}}</td>
        </tr>
    </table>
</div>
