<div class="md details-wrap">
    <table class="details more-details">
        <tr>
            <th>Standard state</th>
            <td>{{element.standardState}}</td>
        </tr>
        <tr>
            <th>Melting point</th>
            <td>{{element.meltingPoint}}</td>
        </tr>
        <tr>
            <th>Boiling point</th>
            <td>{{element.boilingPoint}}</td>
        </tr>
        <tr>
            <th>Year discovered</th>
            <td>{{element.yearDiscovered}}</td>
        </tr>
    </table>
</div>
