<div class="md details-wrap">
    <table class="details more-details">
        <tr>
            <th>Melting point (K)</th>
            <td>{{element.meltingPoint}}</td>
        </tr>
        <tr>
            <th>Boiling point (K)</th>
            <td>{{element.boilingPoint}}</td>
        </tr>
        <tr>
            <th>Density (g/mL)</th>
            <td>{{element.density}}</td>
        </tr>
        <tr>
            <th>Ionisation energy (kJ/mol)</th>
            <td>{{element.ionizationEnergy}}</td>
        </tr>
    </table>
</div>
